input{
	-webkit-user-select: auto;
}
.single-item{
	display: flex;
	align-items: center;
	background-color: white;
	height:53px;
	margin-bottom: 1px;
}
.single-item .item-left{
	text-align:center;
	border-right:1px solid #eeeeee;flex:1;
}
.single-item .item-right{
	flex: 4;
	display: flex;
	align-items: center;
	padding-right: 7px;
}
.insert-text,input[type=tel]{
	width:94%;
	margin: auto;
	border:none;
	font-size: 12px;
	padding: 10px 15px;
	line-height: 21px;
}
.tags-container{
	display: flex;
	align-items: center;
	background-color: white;
	margin-bottom: 1px;
	min-height: 53px;
}
.tag-left{
	text-align:center;
	border-right:1px solid #eeeeee;
	flex:1;
}
.tag-right{
	flex: 4;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.tag{
	padding:1px 14px;
	font-size: 12px;
	margin: 7px;
	border-radius: 12px;
	border: 1px solid #eeeeee;
}
.default-addr-container{
	display: flex;
	justify-content:space-between;
	height:72px;
	background-color: white;
	align-items: center;
}
.default-addr-container .left{
	text-indent: 1em;
	display: flex;
	flex-direction: column;
}
.default-addr-container  .left  .describe{
	font-size: 12px;
	color: #747474;
}
.default-addr-container .right{
	display: flex;
	align-items: center;
	padding-right: 27px;
}
.botton-bar{
	height:51px;
	width:100%;
	background-color: #e64340;
	position: fixed;
	bottom: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:white;
}
